::ng-deep {
    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            background-color: var(--white);
            border-radius: 5px;
        }
    }
}

.container {
    height: 100%;
    padding: 10px;
    background-color: #9ca3af;

    .info-container,
    .saldo-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 10px 10px 20px 10px;

        mat-card {
            width: 25%;
            background-color: #374151;

            .agencia {
                color: #ef4444;
                margin: 0;
            }

            .conta {
                color: #3b82f6;
                margin: 0;
            }

            .saldo {
                color: #f59e0b;
                margin: 0;
            }

            mat-card-title,
            mat-card-content {
                color: var(--white);

                form {
                    color: #000;
                }
            }
        }
    }

    .saldo-container {
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        mat-card {
            width: 30%;

            .operacao {
                color: #10B981;
            }
        }
    }

    .acoes-saldo {
        width: 201px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;

        .deposito {
            background-color: #3b82f6;
        }

        .saque {
            background-color: #f59e0b;
        }

        .deposito,
        .saque {
            color: #000;
            font-weight: 400;

            &:disabled {
                background-color: rgba(0, 0, 0, 0.12);
            }
        }

        button {
            margin-bottom: 10px;
        }
    }

    * {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .info-container,
        .saldo-container {
            display: flex-wrap;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            mat-card {
                margin-bottom: 10px;
                width: 90%;
            }
        }
    }
}
