<div class="container">
    <div class="info-container">
        <mat-card class="mat-elevation-z4">
            <h4 class="agencia">
                Agência
            </h4>
            <h1 class="agencia">
                {{contaBancaria?.agencia}}
            </h1>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <h4 class="conta">
                Conta
            </h4>
            <h1 class="conta">
                {{contaBancaria?.conta}}
            </h1>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <h4 class="saldo">
                Saldo
            </h4>
            <h1 class="saldo">
                {{contaBancaria?.saldo | currency:'BRL':true}}
            </h1>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="saldo-container">
        <mat-card class="mat-elevation-z4">
            <mat-card-title class="operacao">
                Realize uma operação
            </mat-card-title>
            <mat-card-content class="saldo-container">
                <form [formGroup]="saldoForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" maxlength="16" formControlName="valor" />
                        <mat-error *ngIf="saldoForm.controls['valor'].errors?.required">Digite um valor válido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input matInput type="text" maxlength="16" formControlName="descricao" />
                    </mat-form-field>
                </form>

                <div class="acoes-saldo">
                    <button mat-raised-button class="deposito" [disabled]="saldoForm.invalid"
                        (click)="depositar()">Depositar</button>
                    <button mat-raised-button class="saque" [disabled]="saldoForm.invalid"
                        (click)="sacar()">Sacar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>