.container {
    margin: 10px;
    padding: 10px;

    .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background: linear-gradient(-45deg, #121212, var(--blue500));
        color: var(--white);
    }

    mat-table {
        width: 100%;
        cursor: pointer;

        mat-header-row {
            background: linear-gradient(-45deg, #121212, var(--blue500));
        }

        mat-header-cell {
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        mat-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }

        mat-row {
            &:hover {
                background-color: #039be50d;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .faturas {
                color: var(--red500);
            }

            .itens {
                color: var(--green700);
            }
        }
    }

    mat-paginator {
        background: linear-gradient(45deg, #111827, var(--blue500));
        color: var(--white);
    }
}
