::ng-deep {
    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            background-color: var(--white);
            border-radius: 5px;
        }
    }
}

.container {
    margin: 10px;
    padding: 10px;

    .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background: linear-gradient(to right, var(--black), var(--blue500));
            color: var(--white);
        }
    }

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        mat-form-field {
            width: 120px;
            margin-left: 10px;
        }
    }

    mat-table {
        width: 100%;
        cursor: pointer;

        mat-header-row {
            background: linear-gradient(-45deg, var(--black), var(--blue500));
        }

        mat-header-cell {
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        mat-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }

        mat-row {
            &:hover {
                background-color: #039be50d;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .view {
                color: var(--dark-blue);
            }

            .pagar {
                color: var(--dark-green);
            }

            .atualizar {
                color: var(--dark-red);
            }
        }
    }

    mat-paginator {
        background: linear-gradient(45deg, var(--black), var(--blue500));
        color: var(--white);
    }
}
