.container {
    margin: 10px;
    padding: 10px;

    .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background: linear-gradient(-45deg,var(--black), var(--blue500));
        color: #f9fafb;
    }

    .loading {
        margin-top: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    mat-table {
        width: 100%;
        cursor: pointer;

        mat-header-row {
            background: linear-gradient(-45deg,var(--black), var(--blue500));
        }

        mat-header-cell {
            color: var(--white);
        }

        mat-row {
            font-weight: 500;

            &:hover {
                background-color: #039be50d;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    mat-paginator {
        background: linear-gradient(45deg, var(--black), var(--blue500));
        color: var(--white);
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .loading {
            margin-top: 50%;
        }
    }
}
