:root {
    --blue500: #3b82f6;
    --purple600: #7c3aed;
    --green500: #10b981;
    --green700: #047857;
    --yellow300: #fcd34d;
    --yellow600: #d97706;
    --red500: #ef4444;
    --white: #fefefe;
    --black: #111827;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    max-width: 1600px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pendente {
    background-color: var(--yellow300);
}

.pago {
    background-color: var(--green500);
}
